
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Fusion Byte Tutorial</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/theme.css" rel="stylesheet">
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="about">About</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
	<h1>Astraptes Fulgerator Complex Research</h1>
        <p>Below chart shows the relationship between herbivore species and their host plant species </p>
      </div>

<div>
<iframe width="1000" height="600" scrolling="no" frameborder="no" src="https://fusiontables.google.com/embedviz?containerId=googft-gviz-canvas&amp;viz=GVIZ&amp;t=GRAPH&amp;gc=true&amp;gd=true&amp;sdb=1&amp;rmax=100000&amp;q=select+col0%2C+col5%2C+col10+from+1tTgZbADo67UCg4uIDnbxzCMaXoCvenGnLRteyT5T&amp;qrs=+where+col0+%3E%3D+&amp;qre=+and+col0+%3C%3D+&amp;qe=&amp;uiversion=2&amp;state=%7B%22ps%22%3A%221_a_53_-1e_9_63_-j_5_-45_18_2_3d_-1q_g_-4j_28_1_-35_1w_0_-3p_2n_f_5l_-29_4_-24_1z_m_-83_-12_n_-84_-i_3_36_-x_7_2j_-1l_d_-63_-32_e_-6n_-33_8_2p_-27_c_-3x_g_k_7a_35_q_-4p_n_r_-1i_1o_b_34_-2h_s_7v_2x_o_3j_-2k_6_-1b_28_i_-1m_2o_h_2o_-13_p_3w_-2h_l_6f_3b_j_-54_13_%22%2C%22cx%22%3A64.73003240000327%2C%22cy%22%3A-0.4495141138889113%2C%22sw%22%3A742.0022918095342%2C%22sh%22%3A390.68448644312286%2C%22z%22%3A0.4574220290191611%7D&amp;gco_forceIFrame=true&amp;gco_hasLabelsColumn=true&amp;width=1000&amp;height=600"></iframe>
</div>

<div>
<iframe width="1000" height="600" scrolling="no" frameborder="no" src="https://fusiontables.google.com/embedviz?q=select+col12+from+1tTgZbADo67UCg4uIDnbxzCMaXoCvenGnLRteyT5T&amp;viz=MAP&amp;h=false&amp;lat=10.91759511424031&amp;lng=-85.43183000000005&amp;t=1&amp;z=12&amp;l=col12&amp;y=2&amp;tmplt=2&amp;hml=TWO_COL_LAT_LNG"></iframe>
</div>
      </div> <!-- /page-header -->
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
  </body>
</html>
